[build-system]
requires = ["setuptools", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "model_tuner"
version = "0.0.17a"
description = "A Python library for tuning machine learning models."
readme = { file = "README.md", content-type = "text/markdown" }
authors = [
    { name = "UCLA CTSI ML Team: Leonid Shpaner, Arthur Funnell, Panayiotis Petousis", email = "pp89@ucla.edu" }
]
requires-python = ">=3.7"
dependencies = [
    "joblib==1.3.2",
    "tqdm==4.66.4",
    "catboost==1.2.7",

    "pip==24.0; python_version == '3.7'",
    "numpy==1.21.4; python_version == '3.7'",
    "pandas==1.1.5; python_version == '3.7'",
    "scikit-learn==0.23.2; python_version == '3.7'",
    "scipy==1.4.1; python_version == '3.7'",
    "imbalanced-learn==0.7.0; python_version == '3.7'",
    "scikit-optimize==0.8.1; python_version == '3.7'",
    "xgboost==1.6.2; python_version == '3.7'",

    "pip==24.2; python_version >= '3.8' and python_version < '3.11'",
    "setuptools==75.1.0; python_version >= '3.8' and python_version < '3.11'",
    "wheel==0.44.0; python_version >= '3.8' and python_version < '3.11'",
    "numpy>=1.19.5, <1.24; python_version >= '3.8' and python_version < '3.11'",
    "pandas>=1.3.5, <2.2.2; python_version >= '3.8' and python_version < '3.11'",
    "scikit-learn>=1.0.2, <1.3; python_version >= '3.8' and python_version < '3.11'",
    "scipy>=1.6.3, <1.11; python_version >= '3.8' and python_version < '3.11'",
    "scikit-optimize==0.10.2; python_version >= '3.8' and python_version < '3.11'",
    "imbalanced-learn==0.12.4; python_version >= '3.8' and python_version < '3.11'",
    "xgboost==2.1.2; python_version >= '3.8' and python_version < '3.11'",

    "pip==24.2; python_version >= '3.11'",
    "setuptools==75.1.0; python_version >= '3.11'",
    "wheel==0.44.0; python_version >= '3.11'",
    "numpy==1.26; python_version >= '3.11'",
    "pandas==2.2.2; python_version >= '3.11'",
    "scikit-learn==1.5.1; python_version >= '3.11'",
    "scipy==1.14.0; python_version >= '3.11'",
    "imbalanced-learn==0.12.4; python_version >= '3.11'",
    "scikit-optimize==0.10.2; python_version >= '3.11'",
    "xgboost==2.1.2; python_version >= '3.11'",
]


classifiers = [
    "Programming Language :: Python :: 3",
    "Operating System :: OS Independent"
]


[project.urls]
"Author Website" = "https://www.mii.ucla.edu/"
"Documentation" = "https://uclamii.github.io/model_tuner"
"Zenodo Archive" = "https://zenodo.org/doi/10.5281/zenodo.12727322"
"Source Code" = "https://github.com/uclamii/model_tuner/"

[tool.setuptools.packages.find]
where = ["src"]
